html{min-height: 100%;}
/*body{font-family: "Open Sans", sans-serif !important;font-size:14px; line-height:180%; color:#444; font-weight: normal;min-height:100%;}*/
::-moz-selection{color:white;background:#2BAAE1;}
::selection {color: white;background:#2BAAE1;}
*:focus{outline:0 !important;}

.monospace{font-family:"Source Code Pro", "Menlo", "Monaco", "Andale Mono", "Anonymous Pro", "PT Mono", monospace !important;}


.error-page{background:url(images/oops.jpg) no-repeat left bottom;padding:80px;}

/*a{outline:none !important; color:#2BAAE1;}*/
.faded{background:rgba(255,255,255,0.98);width:100%;height:100%;position:fixed !important;left:0;top:0;z-index:200; display:block;}
input{font-family: "Open Sans", sans-serif !important;}
input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }
.center{text-align: center;}

.small{font-size:16px !important}
.smaller{font-size:11px !important}

.caps{text-transform: uppercase;}

.capitalise{text-transform: capitalize;}

.pointer{cursor:pointer !important;}

.no-select{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

.nomargin{margin:0;padding:0;}
.nobottommargin{margin-bottom:0 !important;}
.notopmargin{margin-top:0 !important;}

.noleftmargin{margin-left:0 !important; padding-left:0 !important;}

.borderbottom{border-bottom:1px solid #e8eaee;}

.bottommargin{margin-bottom:10px;}
.topmargin{margin-top:20px;}
.margin-left-ten{margin-left: 10px}

.bottompadding{padding-bottom:20px;}
.toppadding{padding-top:20px;}

.padding{padding:20px;}
.paddingten{padding:10px;}
.paddingfiveten{padding:5px 10px;}

.light{font-weight:normal;}
.lighter{font-weight:300;}
.bold{font-weight: 700;}
.bolder{font-weight:800;}

.larger{font-size:24px;}
.largest{font-size:38px;}

.black-border{border:1px solid #666;}
.grey-border{border:1px solid #d0d0d0;}

.round-border{border-radius:6px;padding:15px;}

.capitalize{text-transform: capitalize !important;}

.transparent{opacity: 1;}

.input-lg{width:90%;}
.input-md{width:60%;padding:5px;}

.block{display: block !important}
.inline{display: inline-block !important;}

.absolute-right{position:absolute;left:50%; display: block;}

i.fa{margin-left:5px; margin-right:5px;}

.blue{color:#2BAAE1 !important;outline:none !important;}
	.blue:active{border:none !important;}
.blue-bg{background-color:#2BAAE1 !important; color:white !important;}
	.blue-bg a{color:#2BAAE1;}
	a.blue-bg:hover{text-decoration: none;}
.beige-bg{background-color:#a8c0cb; color:white !important;}
	.beige-bg a{color:#a8c0cb;}
.green{color:#76ca62 !important;}
.green-bg{background-color:#28B463; color:white !important;}
	.green-bg a{color:#76ca62;}
.darkgreen-bg{background-color:#53a740; color:white !important;}
.red{color:#ea511c !important;}
.red-bg{background-color:#e74c3c; color: white !important;}
.darkred-bg{background-color:#cf4819; color:white !important;}
.orange{color:#ffba00 !important;}
.orange-bg{background-color:#ffb954 !important; color:white !important;}
	.orange-bg a{color:#e69d46;}
.black-bg{background:#444 !important; color: white !important;}
.pink{color: #e46b7d !important;}
	.pink-bg{background: #e46b7d !important;}
.grey{color:#999 !important;}
.yellow-bg{background:#F39C12;color:#fff;}
.darkgrey-bg{background: #e2e8e4;}
.dark-grey{color:#666 !important;}

.blue-border{border:1px solid #2BAAE1 !important;}

.white{color:#fff !important;}

h1,h2,h3,h4{line-height:150%; color:#333;}

.right-arrow{background:url(images/arrow1_r.png) no-repeat center right;background-size: 18px;}
.down-arrow{background:url(images/arrow1_d.png) no-repeat center right;background-size: 18px;}




.bg-purple-gradient{background:linear-gradient(to right, rgba(55, 38, 176, 0.95) 0%, rgba(189, 104, 212, 0.96) 99%) repeat scroll 0% 0%, url('images/bg-living-room.jpg') no-repeat fixed center center transparent;background-size:cover; color:white;padding:40px 0;}
.bg-cyan-gradient{background:linear-gradient(to right, rgba(5, 182, 231, 0.95) 0%, rgba(76, 206, 135, 0.96) 99%) repeat scroll 0% 0%;background-size:cover; color:white;padding:40px 0;}

.black-transparent{background:#333; color:white !important; border:1px solid #333; transition:all 0.3s ease;}
	.black-transparent:hover{border:1px solid #333; color:#333 !important; background:#fff !important; text-decoration: none !important}

.blue-transparent,.razorpay-payment-button{background:#2BAAE1; color:white !important; border:1px solid #2BAAE1;transition:all 0.3s ease;}
.blue-transparent:hover{border:1px solid #2BAAE1; color:#2BAAE1 !important; background:white !important;transition:all 0.3s ease;text-decoration:none;}

.green-transparent{background:#76ca62; color:white !important; border:1px solid #76ca62;transition:all 0.3s ease;}
.green-transparent:hover{border:1px solid #76ca62; color:#76ca62 !important; background:white !important;transition:all 0.3s ease;text-decoration:none;}

.orange-transparent{background:#F15A29; color:white !important; border:1px solid #F15A29;}
.orange-transparent:hover{border:1px solid #F15A29; color:#F15A29 !important; background:white !important;transition:all 0.3s ease;text-decoration:none;}

.white-transparent{background:#fff; color:#333 !important; border:1px solid #666;transition:all 0.3s ease;}
.white-transparent:hover{border:1px solid #333; text-decoration:none;}

.grey-bg{background:#ececec !important; color:#333;}
	.grey-bg p{color:#555;}

.blue-alt{background:#fff; color:#2BAAE1 !important; border:1px solid #2BAAE1;transition:all 0.3s ease;}
	.blue-alt:hover{border:1px solid #2BAAE1;transition:all 0.3s ease;color:#fff !important; background:#2BAAE1 !important; text-decoration: none !important}

.orange-alt{background:#fff; color:#ff7200 !important; border:1px solid #ff7200;transition:all 0.3s ease;}
	.orange-alt:hover{border:1px solid #ff7200;transition:all 0.3s ease;color:#fff !important; background:#ff7200 !important;text-decoration: none !important}

.green-alt{background:#fff; color:#76ca62 !important; border:1px solid #76ca62;transition:all 0.3s ease;}
	.green-alt:hover{border:1px solid #76ca62;transition:all 0.3s ease;color:#fff !important; background:#76ca62 !important;}

.red-alt{background:#fff; color:#ea511c !important; border:1px solid #ea511c;transition:all 0.3s ease;}
	.red-alt:hover{border:1px solid #ea511c;transition:all 0.3s ease;color:#fff !important; background:#ea511c !important;text-decoration: none !important}	

	.grey-button{border:1px solid #ececec;color:#999 !important; background:#ececec !important;text-decoration: none !important}
	.metallicgrey-button{border:1px solid #f3f6f8;color:#999 !important; background:#f3f6f8 !important;text-decoration: none !important}

	

.red-text-alt{border:1px solid #ea511c; color:#ea511c; font-weight:bold; font-size:11px; padding:3px 10px;background:white;}
.green-text-alt{border:1px solid #76ca62; color:#76ca62; font-weight:bold; font-size:11px; padding:3px 10px;background:white;}
.orange-text-alt{border:1px solid #ff7200; color:#ff7200; font-weight:bold; font-size:11px; padding:3px 10px;background:white;}

.white-button{background:#fff;}

.button-small{border-radius:4px; padding:5px 10px; font-weight:bold !important;}
	.button-small:hover{text-decoration: none}
.button-medium{border-radius:24px;padding:5px 15px;font-size:13px; margin:20px 10px 0 0px; display: inline-block; text-transform: normal; text-decoration: none !important}
.button-large{border-radius:24px;padding:10px 30px;font-size:13px; margin:20px 10px 0 0px; display: inline-block; text-transform: normal;}
.button-xlarge{border-radius:42px;padding:10px 45px;font-size:14px; display: inline-block; text-transform: normal;font-weight: 300}
	.button-large .fa, .button-medium .fa, .button-xlarge .fa{margin:auto 5px;}
	.button-xlarge .fa{font-size:16px;}

.disabled{background:grey !important; border:grey !important; cursor:arrow; color:white !important;}
.disabled:hover{background:grey !important; border:grey !important; transition:none !important;color:white !important; cursor:arrow !important;}

.button-square{border-radius:8px !important;}

.header{ background:white; border-bottom:1px solid #E8EAEE; padding:15px 0 15px 0; width:100%; position:fixed;z-index:101;}
	/*.logo{display: block; width:175; height:auto; margin:5px 0 0 0;}*/
	.navigation{color:#aaa; font-size:14px; width:560px; text-align:right;margin:5px 0;}
	.navigation a, .navigation-tablet a{color:#455; font-size:12px; margin:0 0 0 20px; text-transform:uppercase; font-weight:;}
	.navigation a:hover, .navigation a:active{color:#2BAAE1; transition:all 0.2s ease; text-decoration: none !important;}
	.navigation a.active, .navigation a.active:hover{border-bottom:1px solid #ccc; transition:none !important; text-decoration: none}
	.menu-button, .menu-button:active,.menu-button:hover{color:#333; font-weight: bold; font-size:12px; text-decoration: none; cursor: pointer;}

.navigation-mobile{padding:10px; text-align: center}
	.navigation-mobile a{color:#333; font-size:larger; text-decoration: none; text-transform: uppercase; font-weight:lighter; cursor:pointer; display: block; margin:20px 0;}
.navigation-tablet{margin-right:20px;}
	.navigation-tablet a{font-weight: bold; color:#333;}

.sub-menu{/*border-bottom:1px solid #e8eaee;margin-top:10px;*/}
	.sub-menu a:first-child{/*border-left:1px solid #E8EAEE;*/}
	.sub-menu a{padding:10px 20px;color:#333;display: block;/*border-right:1px solid #E8EAEE;*/text-align: center;font-size:12px;}

.main-banner{display:block; color:black; padding:120px 0 90px 0; border-bottom:1px solid #E8EAEE; display:block;background:url(images/bg-tile.png);}
	.main-banner h4{line-height:200%;}
	.banner{display:block; color:black; padding:40px 0; display:block;}
	.watch-video{background:#fff url(images/camera1.png) no-repeat center left; padding:10px 35px; background-size:24px auto; color:#333 !important; text-decoration: underline;}

.testimonials{display:block; line-height:160%; text-align: center; padding:60px 0;border-top:1px solid #E8EAEE;}
	.testimonials p.lead{font-size:18px;}
	.testimonials .photo{display:block;margin:0 0 15px 0; width:100px; height:auto;}
	.institute, .person-name{margin: 0;}
	.institute{color:#888;}
	#slides{display: none;padding:0px 30px;}
	#slides .slidesjs-navigation{position:absolute;top:48%;z-index:99;}
		#slides .slidesjs-previous{background:url(images/arrow1_l.png);left:-35px;font-size:0;line-height: 0;background-size:24px auto;width:24px;display:block;height:24px;}
		#slides .slidesjs-next{background:url(images/arrow1_r.png);right:-35px;font-size:0;line-height: 0;background-size:24px auto;width:24px;display:block;height:24px;}
	#slides .slidesjs-pagination{padding-left:0;margin:20px 0 0 0;}
	#slides .slidesjs-pagination li{display:inline; font-size:0;}
	#slides .slidesjs-pagination li a{outline:none !important;}
	#slides .slidesjs-pagination li a:before{content:"";width:10px;height:10px;background:#888;display:inline-block;margin:0 4px;border-radius:24px;border:2px solid #888;}
	#slides .slidesjs-pagination li a.active:before{background:#555;border:2px solid #555;}

.signup .faq{padding:40px 0 80px 0; border-top:1px solid #e5e5e5; margin-top:40px;background:#f9fafa;}
	.signup .faq p{padding-left:40px;color:#666;}
		.signup .faq p strong{color:#333}
	.signup .faq ul{padding:0; margin:0;}
	.signup .faq ul li{list-style: none; position: relative; margin-top:40px;}
	span.rounded-border{border-radius:24px;border:1px solid #333;width:24px;height:24px; text-align: center;display:block;position: absolute;}
	.signup-features{margin:20px 0 0 0; padding:10px 0 0 50px;}
		.signup-features h5{margin:5px 0;}
		.signup-features p{color:#777; font-size:12px; line-height:140%;margin:5px 0 10px 0;}
			.mobile{background:url(images/cloud_check.png) no-repeat center left;background-size:32px auto;}
			.instant{background:url(images/stopwatch.png) no-repeat center left;background-size:32px auto;}
			.realtime{background:url(images/goblet2.png) no-repeat center left;background-size:32px auto;}

.marketing-bottom{padding:80px 0; border-top:1px solid #E8EAEE; text-align: center;}

.question-answer-faq{border-bottom:1px solid #ccc;padding-bottom:5px;margin:10px 0;}
.question-faq{cursor: pointer;margin:0;}
.answer-faq{margin-left:15px;margin-bottom: 5px}

.topics{}
	.topics-alphabets a{border:1px solid #606060;padding:3px 8px;color:#333;margin:0 2px;line-height: 250%;}

.features{padding:90px 0; font-size:14px; color:#666;overflow:hidden;border-bottom:1px solid #E8EAEE;}
	.features p{line-height:180%;letter-spacing:0.01em;font-size: 13px; font-weight: normal; color:#333;}
	.features .bold-title{font-size:24px;font-weight:lighter; margin:10px 0;}
	.features .bold-title strong{color:#333;}
	.features h4{margin:30px 0 10px 0; font-size:18px; font-weight:lighter;}
		.feature-page .features h4{font-size:14px;margin:5px 0;}

.demo-section{padding:80px 0;}

	.timer{padding:15px 0 10px 5%; border-radius:4px; font-size:14px;border:1px solid #ccc;width:100%;}
	.time{font-size:20px; position: relative; width:120px}
		/*.time span{color:#999; font-size:14px; position: relative;top: 50%;transform: translateY(-20%); display: inline-block;}*/
		.time-label{font-weight:lighter; font-size:10px;}
	.timer .buttons{padding:10px 0;text-align:center;width:60px;}

	.direct-question{}
		.direct-question a{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
							transition: all 0.3s cubic-bezier(.25,.8,.25,1);color:#333; text-decoration: none; display:inline-block;width:35px;text-align: center; border:1px solid #777;padding:4px 0 4px 0;margin:2px 2px 0 0;cursor: pointer; text-align: center}
		.direct-question a:hover{border:1px solid #76ca62;color:#76ca62;cursor:pointer;}
			
			.direct-question a.read, .direct-question a.read:hover{background:#eaeaea;color:#333;border:1px solid #999;}
			.direct-question a.answered, .direct-question a.answered:hover{background:#2BAAE1;color:white;border:1px solid #2BAAE1;}
			.direct-question a.review, .direct-question a.review:hover{background:#ffba00;color:white;border:1px solid #ffba00;}
			.direct-question a.current, .direct-question a.current:hover{background:#76ca62 !important;color:white !important;border:1px solid #529f40 !important;}
			.direct-question a.red-bg{border:1px solid #ea511c !important;}
			.direct-question a.green-bg{border:1px solid #76ca62 !important;}
			.direct-question a.unread:hover{border:1px solid #333 !important; color:#333;}

.direct-question a.wrong, .direct-question a.right:hover{background:#e74c3c !important;color:white !important;border:1px solid #c31e0d !important;}
.direct-question a.right, .direct-question a.right:hover{background:#00bfff !important;color:white !important;border:1px solid #0d8fc3 !important;color:#ffffff !important;}
.notification{padding:30px 0;}
	.notification h3{margin:10px 0;}
	.notification a{color:#333; text-decoration: underline;}

	.options{margin:5% 0px !important; }
		.options p{padding:7px 5px;border-radius:4px; vertical-align: middle;}
                .options .op_div{padding-bottom:5px 5px;border-radius:4px; vertical-align: middle;}
		.options label{font-size: 14px;list-style:none; margin:0px; padding:6px 5px 6px 15px; font-weight:normal;cursor:pointer;display:inline-block;width:85%;vertical-align: middle;}
		.option-alphabet{border:1px solid #eaeaea;padding:7px 10px;border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); font-size:14px;width:35px;height:35px;display:inline-block;text-align: center; vertical-align: middle;}
			.options p:hover label{background:#eaeaea;}
			.options label:hover{
				background:#eaeaea;
			}
			.options .active{background:#2BAAE1 !important;color:white !important;border:1px solid #2BAAE1;cursor:pointer;}
			.options p:hover .option-alphabet{background:white;color:#333; border:1px solid #333; cursor: pointer}
		.options textarea{width:100%;max-width:100%;padding:10px;border:2px solid #eaeaea;height:240px;}
		.mega-mce{border:2px solid #eaeaea;}
			.options textarea:focus{border:2px solid #2BAAE1;}
.question .options p{
	padding-top:2px;
}
	.question_text{margin:20px 0;}
		.question{position: relative;}
		.question p{margin:0px 0;}
                .question .op_div{margin-bottom:5px; padding: 5px;}
		.question p .option-alphabet{float:left;}
                .question p .op_div{float:left;}
		.question p .options-list{padding:5px 10px;display: inline-block;}
		
		p.wrong .option-alphabet{background:#e74c3c url(../../page-elements/images/cross-white.png) no-repeat center center; background-size:16px auto; color:white !important; border:1px solid #e74c3c; font-size:0px;}
		p.answer .option-alphabet{background:#76ca62; color:white !important; border:1px solid #76ca62;}
		.answer-textbox{border:1px solid #ccc; padding:5px 10px; width:80%;}
		.answer-textbox:focus{border:1px solid #777;}
		p.answercorrect .option-alphabet{background:#76ca62 url(../../page-elements/images/check.png) no-repeat center center; background-size:16px auto; border:1px solid #76ca62; font-size:0px;} 
			p.answercorrect:after{content:"Your answer is right"; font-size:11px; background:#76ca62; color:white; padding:4px 10px; border-radius:2px; font-weight:300;margin-top:10px;white-space: nowrap; display: inline;}
			p.wrong:after{content:"Your answer is wrong"; font-size:11px; background:#e74c3c; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}
}

.question{position: relative;}
		.question div{margin:0px 0;}
		.question div .option-alphabet{float:left;}
		.question div .options-list{padding:5px 10px;display: inline-block;}
		.question img{display: inline;}
		div.wrong .option-alphabet{background:#e74c3c url(../../page-elements/images/cross-white.png) no-repeat center center; background-size:16px auto; color:white !important; border:1px solid #e74c3c; font-size:0px;}
		div.answer .option-alphabet{background:#76ca62; color:white !important; border:1px solid #76ca62;}
		.answer-textbox{border:1px solid #ccc; padding:5px 10px; width:80%;}
		.answer-textbox:focus{border:1px solid #777;}

div.answercorrect .option-alphabet{background:#76ca62 url(../../page-elements/images/check.png) no-repeat center center; background-size:16px auto; border:1px solid #76ca62; font-size:0px;} 
			div.answercorrect:after{content:"Your answer is right"; font-size:11px; background:#76ca62; color:white; padding:4px 10px; border-radius:2px; font-weight:300;margin-top:10px;white-space: nowrap; display: inline;}
			div.wrong:after{content:"Your answer is wrong"; font-size:11px; background:#e74c3c; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}
			div.strong:after{content:"strong"; font-size:11px; margin-left: 5px; background:#28b463; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}
			div.attention:after{content:"Pay Attention";margin-left: 5px;font-size:11px; background:#2baae1; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}
			div.improve:after{content:"Can Improve"; margin-left: 5px; font-size:11px; background:#15a7ff; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}
			div.critical:after{content:"Critical"; margin-left: 5px;font-size:11px; background:#e4210d; color:white; padding:4px 10px; border-radius:2px; font-weight:300; margin-top:10px;white-space: nowrap; display: inline;}

	.navigation-control{padding:20px 0; border-top:none;}
		.navigation-control a{margin:4px;
			font-weight: 600;
      color: #fe87a4;
      border: 1px solid #f98aa5;
      border-radius: 44px;
      -webkit-box-shadow: 0 0 0px 4px rgba(249, 138, 165, 0.4);
      box-shadow: 0 0 0px 4px rgba(249, 138, 165, 0.4);
	  cursor:pointer;}
		.navigation-control a:hover, .navigation-control a:active{ 
		 -webkit-box-shadow: 0 0 0px 6px rgba(249, 138, 165, 0.4);
        box-shadow: 0 0 0px 6px rgba(249, 138, 165, 0.4);}
			.navigation-control a.marked, .navigation-control a.marked:hover{
				color:#ffba00;
				border: 1px solid #ffba00;
				-webkit-box-shadow: 0 0 0px 6px rgba(249, 138, 165, 0.4);
        box-shadow: 0 0 0px 6px #eccc6b82;}
        .navigation-control button{
        	margin:4px;
			font-weight: 600;
      color: #333333;
      background:#fff;
      border: 1px solid #333333;
      border-radius: 44px;
      -webkit-box-shadow: 0 0 0px 4px rgba(249, 138, 165, 0.4);
      box-shadow: 0 0 0px 4px #999;
	  cursor:pointer;}
		.navigation-control button:hover, .navigation-control button:active{ 
		 -webkit-box-shadow: 0 0 0px 6px rgba(249, 138, 165, 0.4);
        box-shadow: 0 0 0px 6px #999;;}
        .navigation-control button.marked, .navigation-control button.marked:hover{
				color:#ffba00;
				border: 1px solid #ffba00;
				-webkit-box-shadow: 0 0 0px 6px rgba(249, 138, 165, 0.4);
        box-shadow: 0 0 0px 6px #eccc6b82;}
	.timedout, .completenow-warning, .internet-warning{background:rgba(0,0,0,0.9);position:fixed;left:0;top:0;width:100%;height:100%; z-index: 999}
		.timedout-popover{width:50%;min-height:180px;padding:10px;margin-left:auto;top:50%;margin-top:-100px;background:white; display: block;position: relative;margin-right:auto;}

.results{}
	.line-before-after{display:block;margin:30px 0 -10px 0;color:#777;}
		.line-before-after:before{content:"";display: inline-block;position: relative;height: 1px;background:#ccc;display:inline-block;width:10%;top: -5px;right: 10px;margin-left: -10%;}
		.line-before-after:after{content:"";display: inline-block;position: relative;height: 1px;background:#ccc;display:inline-block;width:10%;top: -5px;left: 10px;margin-right: -10%;}
	.score-time{background-size:24px auto; color:#333; font-weight:800; line-height:100%; font-size:24px;}
	.score-time span{color:#999; font-size:14px;}
		.graph-base{background:#efefef;border-radius:16px !important;width:80%;margin:10px auto; text-align: left;padding:0;}
		.graph-base span{border-radius:16px;display:block;height:12px;}	
			table .graph-base span.graph{border-radius:0 16px 16px 0;display:block;height:12px;width:0;}
			table .graph-base span.graph:first-child{border-radius:16px 0 0 16px;}
			table .graph-base span.graph:last-child{border-radius:0 16px 16px 0;margin-left:-1px;}
			.tooltip{font-size:12px; font-weight:100; font-family: "Open Sans";opacity:1;}
		.square-number{padding:5px 0;display: inline-block;height: 30px;width: 30px;text-align: center;}
		th{text-transform: uppercase;font-size:11px;color:#777;font-weight: normal}
			.exam-meta{border:1px solid #ccc;padding:5px 10px;border-radius:4px;font-size:12px;margin:5px 10px; white-space: nowrap;display:inline-block;}

			.tablesorter th{cursor: pointer;background:url(images/select-arrows.png) no-repeat 90% center;}
			.table-striped td{vertical-align: middle !important;}

			.scores td:first-child span, .show-hide-topics span{padding:2px 5px; font-weight:100; font-size:11px; margin-left:15px; border-radius:4px; white-space: nowrap;}
			.topic-control{cursor: pointer;}
				.topic-control:hover{opacity:0.9;}

	.very-long{overflow: hidden !important;position: relative;}

	.view-all{width:100%;height:150px;padding-top:100px;position: absolute;z-index: 10;bottom:0;}
	.white-mask{background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

.login{background:rgba(255,255,255,1);padding:30px 0;}
.close-button{cursor:pointer;}
.login input[type="email"], .login input[type="password"],.login input[type="text"]{border:1px solid #999; font-size:14px;}
.login input[type="email"],.login input[type="text"]{background:url(images/user1.png) no-repeat 10px center ; background-size:16px auto; padding-left:40px;}
.login input[type="password"]{background:url(images/lock1.png) no-repeat 10px center ; background-size:16px auto; padding-left:40px;}
.login a{text-decoration: none;color:#333;padding-bottom:1px;}
.login a:hover{text-decoration: none;border-bottom:none;}

.signup-form{}
	.signup-form .form-group{margin-top:20px;}
	.signup-form input[type="text"],.signup-form input[type="password"],.signup-form input[type="tel"],.signup-form input[type="email"], .signup-form input[type="number"],input.score{border:1px solid #aaa; border-radius:6px;padding:10px 10px 10px 10px; width:100%;}
	.signup-form *:focus, input.score:focus{border:1px solid #555 !important;}
	.signup-form select{border-radius:6px;border:1px solid #aaa;background-color:#fff;background-image: url(images/select-arrows.png) !important;background-position: 95% 50% !important;background-repeat: no-repeat !important;outline: none;display: inline-block;-webkit-appearance: none;-moz-appearance: none;appearance: none;font-size: 14px;padding:10px;position: relative;cursor: pointer;width:100%;}
	.signup-form label{font-weight:600; display:block; padding-right:20px;text-align: left}
		.signup-form label.inline{font-weight:normal;display:inline; padding-right:20px;text-align: left}
	

.payment-option{padding:20px;border:1px solid #ccc; border-radius: 12px;cursor: pointer;width:100%;}


.footer{border-top:1px solid #E8EAEE; padding:80px 0 30px 0;color:#666;font-size:12px !important; margin:0 0 50px 0;}
	.footer p{color:#8E8E8E;}
	.footer a{color:#666;}
		.footer p.main-links a{margin:0 10px;}
	.footer a:hover{color:#666;}
	.footer ul{margin:0; padding:0;}
	.footer h5{margin:0 0 20px 0; font-weight:800; font-size:12px;}
	.footer ul li{list-style: none; margin:none;}
	.footer a.social{margin:5px 0; display: inline-block;}

.credits{padding:20px 0 20px; border-top:1px solid #E8EAEE; color:#bbb; margin:20px 0 0 0;}
	.credits p{margin:0;font-size:12px !important}
	.credits a{color:#999;}
	.credits p.pull-left a{margin-right:10px;}

.locations{line-height:200%;}
.contact-form input[type="text"], .contact-form textarea{padding:5px 10px;border:1px solid #ccc; border-radius:4px;width:100%;}
.contact-form input[type="text"]:focus, .contact-form textarea:focus{border:1px solid #666;}
	.contact-form p{margin:10px 0;}
	.contact-form textarea{height:90px;}

.quote{background:url(images/quote.png) no-repeat center top; padding-top:50px;margin:20px 0; font-size:22px; line-height:180%; text-transform: uppercase;}

/*App*/

.message-box{margin:20px 0;font-weight: normal;text-align: left;background:#FFF;border-radius: 8px;}
	.message-box ul{border-width:0 1px 1px 1px;border-style: solid; border-color: #ccc;padding:10px 20px;}
	.message-box h4{padding:10px;color:white;margin:0;border-radius:8px 8px 0 0px; font-weight:lighter;}
		.message-box h4.error{background:#DF3B3B;}
		.message-box h4.success{background:#76ca62;}

.app .header{position:relative;}
	.arrow-up {width: 5px; height: 5px; border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;position:absolute;right:10px;top:-7px;z-index:100;}

.icon-settings{background:url(images/user1.png) no-repeat center left; background-size:16px; padding-left:20px;}
	.dropdown-menu a{padding:10px 15px !important;margin-left:0 !important;border-bottom:1px solid #ccc !important; color:#666 !important; text-transform: capitalize; }
	.dropdown-menu li:last-child a{border-bottom:none !important;}
	.dropdown-menu{box-shadow:none; margin-top:10px;padding:0 !important;}
	.dropdown-menu a:hover{}


input[type="submit"].button-large,input[type="submit"].button-medium,input[type="submit"].button-small{margin-right:0;}

.app .content{padding:20px 0;}

	.dashboard-box{color:#333;display:block;margin-bottom:20px; font-size:22px; border-bottom:1px solid #ccc; padding-bottom:20px;}
		.dashboard-box .grey{font-size:14px; display: block; margin:10px 0;}
		.dashboard-box:hover{text-decoration: none; color:#333;}
		.dashboard-box span:first-child{width:80px;height:80px; text-align:center; margin-right:20px; padding:15px 0;}
		.dashboard-box span:first-child img{height:50px; width:auto;}

		.side-box{border:1px solid #ccc; border-radius:6px; padding:5px 10px; display: block;}
			.side-box:hover{text-decoration: none; border:1px solid #666;}

	.settings-tabs{border-bottom:1px solid #ccc;padding-left:0; font-weight:100; margin:40px 0 40px 0;}
	.settings-tabs li{list-style:none; display:inline-block; }
		.settings-tabs li a{padding:10px;display:block;color:#666;}
			.settings-tabs li a:hover{text-decoration: none;}
		.settings-tabs li.active a{border-bottom:1px solid #fff !important; border-left:1px solid #ccc; border-top:2px solid #2BAAE1;border-right:1px solid #ccc;position: relative;top:1px;color:#333;}

		.invite textarea{border:2px solid #ddd; padding:10px; width:100%; min-height:120px;}
			.invite textarea:focus{border:2px solid #999;}
	
	.subject-listing{border:1px solid #ccc;padding:15px;margin-bottom:30px;border-radius:6px;color:#333;}
		.subject-listing:hover{text-decoration: none; color:#333}
		.subject-listing p{margin:10px 0;}
		.subject-listing p.stats{margin:5px 0 0 0; padding: 0;line-height:180%;}
		.subject-symbol{font-weight:600; font-size:40px; margin:10px 0 10px 0;}
			.package .subject-symbol{margin:20px 0 30px 0;}
		.subject-title{font-weight:100; font-size:18px;}
		.subject-progress{font-weight:600; font-size:28px; margin:10px 0 0 0;}
		.subject-listing .locked{padding:5px 10px 5px 30px;}

	.exam-listing{border:1px solid #ccc; padding:15px 0 0 0; border-radius:4px;margin:15px 0;background:#fff;}
		.exam-listing a{margin:5px 10px 10px 5px; text-transform: capitalize !important;}
		.exam-listing h3{margin:0 0 15px 15px; vertical-align:bottom;}
			.exam-listing h3 span{margin-left:40px;margin-right:5px;}
			.locked{background:url(images/lock1.png) no-repeat 5px center;background-size:18px; font-size:13px;padding:0 10px 0 28px;border:1px solid #ccc; border-radius:6px; margin-right:5px;display:inline-block;}
		.exam-listing p.exam-stats{color:#666; border-top:1px solid #ccc; padding:5px 0 10px 15px; font-weight: 100;background:#fbfbfb;margin:0px; display:none;}

		.exam-listing p span{margin:5px 20px 0px 0; white-space:nowrap; display:inline-block;}
			.exam-listing p span i.fa{color:#333; font-weight:lighter;}

	.breadcrumbs a{color:#333; display:inline-block;}
		.breadcrumbs a:hover, .breadcrumbs a:active{text-decoration: none !important;}


/* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.timer{padding:15px 0 10px 5%; border-radius:4px; font-size:16px;border:1px solid #ccc;width:95%; overflow:hidden;}
    		.timer .buttons{text-align: center !important; margin:0px auto 0 auto; display: block;top:10px; position:relative;}
    		.input-lg{width:100%;}
    		.signup-form input[type="text"],.signup-form input[type="password"],.signup-form input[type="tel"],.signup-form input[type="email"],.signup-form select{width:100%;}
    		.sub-menu a:last-child{border-bottom:none;}
    		.sub-menu a{/*border-bottom:1px solid #E8EAEE;border-left:1px solid #E8EAEE;*/}
    }
/* For tablets & smart phones */
    @media (max-width: 767px) {
    	.exampage .header{position: fixed;}
    	.circle{border:1px solid #ccc;width:32px;height:32px;border-radius: 16px;text-align: center;line-height: 100%;padding-top:8px;margin:auto;}
      .slides-container #slides div {width: auto;height:340px !important;}
      .demo-section{padding:10px 0;}
      .exampage .navigation-control{position: fixed;bottom: 0;z-index: 10;background: white;width: 100%;left: 0;border-top: 1px solid #ccc;padding:5px 0;}
      .navigation-control div{margin:10px auto; text-align: center !important}
      .navigation-control a{/*border:1px solid #999;*/}
      .timer{padding:5px 0; font-size:16px;border-radius:0;border:none;overflow:hidden;}
      	.timer{position: fixed;top:65px;left:0;width:100%;z-index:10;text-align: right;border-bottom:1px solid #ddd;z-index:10;background:white;padding-bottom:20px;padding-right:20px;padding-top:20px;}
      	.timer .time{font-size:16px;left:0px;width:90%;}
      	.timer .buttons{top:0;left:0;position: relative;padding:0 15px;width:10%;text-align:center;float:left !important;line-height:140%;}
      	.pause{width:14px;height:auto;}
      	.resume{width:14px;height:auto;}
      	.exampage .direct-question{position: fixed;top:130px; width:100%;background:#fff;height:100%;padding-top:20px;padding-right:20px;overflow-y: scroll;padding-bottom:220px;}
      	.completenow{position: fixed;z-index: 99;top:60px;left:20px;}
      	.hidden-only-mobile{visibility: hidden;}
      	.signup-form input[type="text"],.signup-form input[type="password"],.signup-form input[type="tel"],.signup-form input[type="email"], .signup-form select{width:90%;}

      .exam-listing .pull-right, .exam-listing .pull-left{float:none !important; display: block; width:100%;}
      .credits .pull-right, .credits .pull-left{float:none !important;}
      .timedout-popover{width:80%;}
      .question{padding:0px 0 60px 0;}
      .question img{
         /* width:100%;*/
      }
      a.review{ top:10px; right:10px;cursor: pointer}
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .slides-container #slides div{width: auto;height:320px !important;}
      #slides .slidesjs-navigation{display: none}
      .demo-section{padding:10px 0;}
      	
      	.settings-tabs li{display: block;border-bottom:1px solid #ccc;}
      .settings-tabs li a{display:block;}
      	.options p label{width:80%;}
      	.settings-tabs li:last-child{border-bottom:none;}
      	.settings-tabs li.active a{background:#2BAAE1;color:white;border-right:0px;}
      	.signup-form input[type="text"], .signup-form input[type="password"], .signup-form input[type="tel"],.signup-form input[type="email"],.signup-form select {width:100%;}
      	.exam-listing .pull-right, .exam-listing .pull-left{float:none !important;}
      	.exam-listing h3 span{margin-left:0px;}
      	.exam-listing a{margin:0 5px 10px 5px; width:auto;}

      	.credits .pull-right, .credits .pull-left{float:none !important;}

      	.scores td:first-child span{margin-left:0px;}

      	h2{font-size:20px;}
      	h3{font-size:16px;}
    }

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


.exam-engine .header{position: static;border-bottom:none;padding:25px 0;}

.exam-engine h2,.exam-engine h3 {margin:20px 0 0 0;}

.bottom-fixed{position: fixed;width:100%;padding:25px 0;bottom:0;z-index:2;height:auto;border-top:1px solid #ccc;background:#fff;}
.bottom-fixed a{display:block;}

.wizard-steps{background:#f3f6f8;border-top:1px solid #f3f6f8;border-bottom:1px solid #f3f6f8;margin:0 0 20px 0;font-size: 13px;}
	.wizard-steps ul{margin:0;}
	.wizard-steps li{list-style:none;display: block}
	.wizard-steps li a{text-transform: uppercase;padding:15px 60px;display:block;float:left;border-right:1px solid #ddd;color:#aaa;text-align:center }
	.wizard-steps li a::before{content:"";display:block;float:left;width:16px;height:16px;border-radius: 18px;background:white;margin-right:12px; position: relative;top:4px;}
	.wizard-steps li a:hover,.wizard-steps li a:active{text-decoration: none !important;}
	.wizard-steps li.completed a::before{background:#40ac48;}
	.wizard-steps li.completed a{background:#fff;}
	/*.wizard-steps li a{background:#f3f6f8 url(images/circle-white.png) no-repeat 20% center;background-size:20px auto;}
	.wizard-steps li.completed a{background:#fff url(images/green-tick.png) no-repeat 20% center;background-size:24px auto;color:#333;}*/
	.wizard-steps li.active a{background:#1ea0ff;color:white;text-decoration: none}
		.wizard-steps li.active a:active{text-decoration: none}
	
.no-margin{margin-top:0 !important;margin-bottom: 0 !important}

.steps{margin-top:40px;}

.popbox{position: absolute;top:0;left:0;width:100%;min-height:100%;background:rgba(255,255,255,1);display: block;z-index:3;padding:20px 10px;border:30px solid #f3f6f8;}
	.popbox a{color:#333 !important;}

.engine-box{border:1px solid #ccc;display: block; text-transform: uppercase;color:#333;padding:30px 0;border-radius:6px;font-weight:600;}
	.engine-box:hover{text-decoration: none;background:#f3f6f8;color:#333;}


.link{border:1px solid #ccc;display:inline-block;padding:10px 40px;border-radius:6px;cursor:pointer;margin:5px 0;}

.exam-wizard{padding-bottom:80px;}
	.exam-wizard p.form-field{margin:25px 0;}
	.exam-wizard label{display: block;}
	.exam-wizard input[type="text"],.exam-wizard input[type="number"], .exam-wizard textarea{display: block; width:100%;padding:7px;border:2px solid #aaa;}
		.exam-wizard input[type="text"]:focus,.exam-wizard input[type="number"]:focus,.exam-wizard textarea:focus{border-color:#2BAAE1}
	.exam-wizard input[type="file"]{margin:30px auto;line-height: 100%;border:1px solid #f3f6f8;padding:150px;}
		.exam-wizard input[type="file"]:hover{background:#f3f6f8;}
	.exam-wizard input[type="checkbox"]{margin:0 5px 0 0;}
	.exam-wizard input[type="radio"]{margin:0 5px 0 15px;}
	.exam-wizard input[type="radio"]:first-of-type{margin:0 5px 0 0;}

.razorpay-payment-button{margin: 15px 0;border-radius: 22px;padding: 10px 70px;}

.btn-group button {
            background-color: #ffffff; 
            border: 1px solid #000; 
            color: #000;
            padding: 10px 24px; 
            cursor: pointer; 
            float: left; 
            
             box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

        .btn-group button:not(:last-child) {
            border-right: none; 
        }

       
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

     
        .btn-group button:hover {
            /*background-color: #999;*/
           color:#4CAF50;
           border:1px solid #4CAF50;
           box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .direct-question a:hover{
            border:1px solid #4CAF50;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .qstn{
                font-size: 16px;
        }
        .option-alphabet:hover{
            border:1px solid #4CAF50;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.contact.direct-question{
    height: 162px;
    overflow: auto;
}
.event-01.direct-question {
    min-height: 97px !important;
    max-height: 162px !important;
    overflow: auto;
}
hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #eee;
}
@media only screen and (max-width: 767px)
{
	body {
    text-align: unset !important;
	}
	.question {
    padding: 0px 0 10px 0;
}
}
